<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="http://arXivTab.org/">arXivTab.org</a>
  is a project to allow tabbling of PDFs located at 
  <a href="http://arxiv.org/">arXiv.org</a>. 
</p>
