<tr>
  <td><%= document.url %></td>
  <td><%= document.user_id %></td>
  <td><%#= link_to 'Show', document %></td>
  <td><%#= link_to 'Edit', edit_person_path(person) %></td>
  <td><%=# link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
